.main{
    background-color: rgb(4, 63, 151);
    width:600px;
    height:500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(5, 99, 207);
    position: relative;
}
.leaf-1 {
	width: 80px;
	height: 80px;
	border-radius: 100% 0;
    border: 20px solid rgb(4, 63, 151);
	background-color: rgb(5, 99, 207);
	position: absolute;
    overflow: hidden;
    top: 12%;
    left: 48%;

}
.leaf-2 {
	width: 80px;
	height: 80px;
	border-radius: 100% 0;
	background-color:rgb(5, 99, 207);;
    border: 20px solid rgb(4, 63, 151);
	position: absolute;
    overflow: hidden;
    top: 12%;
    right: 48%;
    transform: rotate(90deg);

}
.leaf-3 {
	width: 80px;
	height:80px;
	border-radius: 100% 0;
	background-color: rgb(5, 99, 207);;
    border: 20px solid rgb(4, 63, 151);
	position: absolute;
    top: 48%;
    left: 48%;
    transform: rotate(90deg);
    

}
.leaf-4 {
	width: 80px;
	height: 80px;
	border-radius: 100% 0;
	background-color: rgb(5, 99, 207);;
    border: 20px solid rgb(4, 63, 151);
	position: absolute;
    top: 48%;
    right: 48%;
    transform: rotate(180deg);

}
